@model MVC5Demo.Models.Customer

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>


@using (Html.BeginForm("Create", "Customers"))
{
    @Html.ValidationSummary(true, "No good")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class="form-control"})
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsCool)
        @Html.CheckBoxFor(m => m.IsCool, new { @class = "form-controll" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsCool) Check me out
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Counts)
        @Html.DropDownListFor(m => m.Counts, new SelectList(Model.Counts), "Counts" ,new { @class = "form-control" })
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }