@using MVC5Demo.Models
@model MVC5Demo.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className">@(((Movie)ViewData["Movie"]).Name)</h2>

@ViewBag.Movie.Name

@Model.Movie.Name

@if (Model.Customers.Count == 0)
{
    <text>No one</text>
}
else
{

    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}